.cadastro{
position: relative;
background: url(../img/concentradInv.png) no-repeat right fixed;
background-size:contain;
}

.container{
height: 100vh;
}

form{
padding:30px;
border-radius: 30px;
width: 50%;
color: rgb(255, 255, 255);
background-color: rgb(48, 29, 64);
}

button{
width: 100%;
}
