.cadastro{
position: relative;
height: 100vh;
background: url(../img/concentradInv.png) no-repeat right fixed;
background-size:contain;
}

form{
  padding:30px;
  border-radius: 30px;
  width: 50%;
  color: rgb(255, 255, 255);
background-color: rgb(48, 29, 64);
}

button{
  width: 100%;
}
