.conteudo {
    padding-top:5%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    overflow: scroll;
    width: 100%;
    justify-content: center;
  }

  .conteudo > li{
    text-align: center;
    width: 200px;
    height: auto;
    list-style: none;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
.itemNew{
  width: 100%;
}