.Home{
    padding-top:5%;
}
.text{
    background-color:rgba(93,26,74,1);
    padding: 50px;
    text-align: center;
    font-size: 300%;
    border-radius: 30px;
}

.img-fluid{
    border-radius: 50px;
}