.BoxPerfil{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom:3%;
    border-bottom: 3px solid rgb(237, 237, 237);
}

.perfil{
    width: 80%;
    border-radius: 50%;
}

.container{
    height: 100vh;
}

.UserNome{
   margin-top: 15%; 
}